body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:614px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:195px;
}
#u28064 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:69px;
  width:184px;
  height:195px;
}
#u28064_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28065_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28065 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:236px;
  width:184px;
  height:28px;
}
#u28065_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28065_ann {
  border-width:0px;
  position:absolute;
  left:192px;
  top:232px;
  width:1px;
  height:1px;
}
#u28066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28066 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:242px;
  width:193px;
  height:18px;
  color:#FFFFFF;
}
#u28066_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u28067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u28067 {
  border-width:0px;
  position:absolute;
  left:25px;
  top:274px;
  width:53px;
  height:21px;
  font-size:10px;
  color:#FFFFFF;
}
#u28067_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u28067_ann {
  border-width:0px;
  position:absolute;
  left:71px;
  top:270px;
  width:1px;
  height:1px;
}
#u28068_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u28068 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:274px;
  width:53px;
  height:21px;
  font-size:10px;
  color:#FFFFFF;
}
#u28068_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u28068_ann {
  border-width:0px;
  position:absolute;
  left:134px;
  top:270px;
  width:1px;
  height:1px;
}
#u28069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:195px;
}
#u28070 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:69px;
  width:184px;
  height:195px;
}
#u28070_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28071_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28071 {
  border-width:0px;
  position:absolute;
  left:222px;
  top:236px;
  width:184px;
  height:28px;
}
#u28071_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28071_ann {
  border-width:0px;
  position:absolute;
  left:399px;
  top:232px;
  width:1px;
  height:1px;
}
#u28072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28072 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:242px;
  width:193px;
  height:18px;
  color:#FFFFFF;
}
#u28072_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u28073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u28073 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:274px;
  width:53px;
  height:21px;
  font-size:10px;
  color:#FFFFFF;
}
#u28073_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u28073_ann {
  border-width:0px;
  position:absolute;
  left:278px;
  top:270px;
  width:1px;
  height:1px;
}
#u28074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u28074 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:274px;
  width:53px;
  height:21px;
  font-size:10px;
  color:#FFFFFF;
}
#u28074_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u28074_ann {
  border-width:0px;
  position:absolute;
  left:341px;
  top:270px;
  width:1px;
  height:1px;
}
#u28075 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u28076_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:195px;
}
#u28076 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:69px;
  width:184px;
  height:195px;
}
#u28076_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28077_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:28px;
  background:inherit;
  background-color:rgba(0, 0, 0, 0.6);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28077 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:236px;
  width:184px;
  height:28px;
}
#u28077_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28077_ann {
  border-width:0px;
  position:absolute;
  left:593px;
  top:232px;
  width:1px;
  height:1px;
}
#u28078_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u28078 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:242px;
  width:193px;
  height:18px;
  color:#FFFFFF;
}
#u28078_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u28079_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 153, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u28079 {
  border-width:0px;
  position:absolute;
  left:426px;
  top:274px;
  width:53px;
  height:21px;
  font-size:10px;
  color:#FFFFFF;
}
#u28079_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u28079_ann {
  border-width:0px;
  position:absolute;
  left:472px;
  top:270px;
  width:1px;
  height:1px;
}
#u28080_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 153, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#FFFFFF;
}
#u28080 {
  border-width:0px;
  position:absolute;
  left:489px;
  top:274px;
  width:53px;
  height:21px;
  font-size:10px;
  color:#FFFFFF;
}
#u28080_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:49px;
  word-wrap:break-word;
}
#u28080_ann {
  border-width:0px;
  position:absolute;
  left:535px;
  top:270px;
  width:1px;
  height:1px;
}
#u28081_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u28081 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:23px;
  width:75px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#0099FF;
}
#u28081_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
