body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1857px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1857px;
  height:1165px;
}
#u15486 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:1857px;
  height:1165px;
}
#u15486_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
