body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12563_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12563 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:118px;
  height:60px;
}
#u12563_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12564_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12564 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:198px;
  width:100px;
  height:60px;
}
#u12564_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12565_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12565 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:325px;
  width:100px;
  height:60px;
}
#u12565_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12566 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:440px;
  width:100px;
  height:60px;
}
#u12566_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12567_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12567 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:809px;
  width:118px;
  height:60px;
}
#u12567_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12568 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:258px;
  width:0px;
  height:0px;
}
#u12568_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u12568_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u12568_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12569 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:385px;
  width:0px;
  height:0px;
}
#u12569_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12569_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12569_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12570_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12570 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:523px;
  width:15px;
  height:17px;
}
#u12570_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12571 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:765px;
  width:15px;
  height:17px;
}
#u12571_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12572 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:568px;
  width:100px;
  height:60px;
}
#u12572_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12573 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:683px;
  width:100px;
  height:60px;
}
#u12573_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12574 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:500px;
  width:0px;
  height:0px;
}
#u12574_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u12574_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u12574_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12575 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:628px;
  width:0px;
  height:0px;
}
#u12575_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12575_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12575_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12576 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:743px;
  width:0px;
  height:0px;
}
#u12576_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u12576_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:10px;
  height:8px;
}
#u12576_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:8px;
  height:38px;
}
#u12576_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:43px;
  width:10px;
  height:8px;
}
#u12576_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:8px;
  height:23px;
}
#u12576_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u12576_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12577 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:765px;
  width:15px;
  height:17px;
}
#u12577_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12578 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:629px;
  width:25px;
  height:17px;
}
#u12578_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u12579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:265px;
}
#u12579 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:193px;
  width:179px;
  height:264px;
  text-align:left;
}
#u12579_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:175px;
  word-wrap:break-word;
}
#u12580 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:150px;
  width:0px;
  height:0px;
}
#u12580_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u12580_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u12580_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12581 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:470px;
  width:0px;
  height:0px;
}
#u12581_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u12581_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:377px;
}
#u12581_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:365px;
  width:23px;
  height:8px;
}
#u12581_seg3 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:360px;
  width:19px;
  height:18px;
}
#u12581_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12582 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:713px;
  width:0px;
  height:0px;
}
#u12582_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u12582_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:134px;
}
#u12582_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:122px;
  width:17px;
  height:8px;
}
#u12582_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:117px;
  width:19px;
  height:18px;
}
#u12582_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
