body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12149 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:118px;
  height:60px;
}
#u12149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12150 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:198px;
  width:100px;
  height:60px;
}
#u12150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12151 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:325px;
  width:100px;
  height:60px;
}
#u12151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12152 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:440px;
  width:100px;
  height:60px;
}
#u12152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12153 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:809px;
  width:118px;
  height:60px;
}
#u12153_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12154 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:258px;
  width:0px;
  height:0px;
}
#u12154_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u12154_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u12154_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12155 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:385px;
  width:0px;
  height:0px;
}
#u12155_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12155_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12155_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12156 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:523px;
  width:15px;
  height:18px;
}
#u12156_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12157 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:765px;
  width:15px;
  height:18px;
}
#u12157_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12158_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12158 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:568px;
  width:100px;
  height:60px;
}
#u12158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12159 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:683px;
  width:100px;
  height:60px;
}
#u12159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12160 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:500px;
  width:0px;
  height:0px;
}
#u12160_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u12160_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u12160_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12161 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:628px;
  width:0px;
  height:0px;
}
#u12161_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12161_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12161_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12162 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:743px;
  width:0px;
  height:0px;
}
#u12162_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u12162_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:10px;
  height:8px;
}
#u12162_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:8px;
  height:38px;
}
#u12162_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:43px;
  width:10px;
  height:8px;
}
#u12162_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:8px;
  height:23px;
}
#u12162_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u12162_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12163 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:765px;
  width:15px;
  height:18px;
}
#u12163_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12164_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12164 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:629px;
  width:25px;
  height:18px;
}
#u12164_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u12165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:265px;
}
#u12165 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:193px;
  width:179px;
  height:264px;
  text-align:left;
}
#u12165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:175px;
  word-wrap:break-word;
}
#u12166 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:150px;
  width:0px;
  height:0px;
}
#u12166_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u12166_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u12166_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12167 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:470px;
  width:0px;
  height:0px;
}
#u12167_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u12167_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:377px;
}
#u12167_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:365px;
  width:23px;
  height:8px;
}
#u12167_seg3 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:360px;
  width:19px;
  height:18px;
}
#u12167_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12168 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:713px;
  width:0px;
  height:0px;
}
#u12168_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u12168_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:134px;
}
#u12168_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:122px;
  width:17px;
  height:8px;
}
#u12168_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:117px;
  width:19px;
  height:18px;
}
#u12168_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
