body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12431 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:118px;
  height:60px;
}
#u12431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12432 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:198px;
  width:100px;
  height:60px;
}
#u12432_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12433 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:325px;
  width:100px;
  height:60px;
}
#u12433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12434_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12434 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:440px;
  width:100px;
  height:60px;
}
#u12434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12435 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:809px;
  width:118px;
  height:60px;
}
#u12435_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12436 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:258px;
  width:0px;
  height:0px;
}
#u12436_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u12436_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u12436_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12437 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:385px;
  width:0px;
  height:0px;
}
#u12437_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12437_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12437_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12438 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:523px;
  width:15px;
  height:17px;
}
#u12438_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12439 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:765px;
  width:15px;
  height:17px;
}
#u12439_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12440 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:568px;
  width:100px;
  height:60px;
}
#u12440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12441_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12441 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:683px;
  width:100px;
  height:60px;
}
#u12441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12442 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:500px;
  width:0px;
  height:0px;
}
#u12442_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u12442_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u12442_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12443 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:628px;
  width:0px;
  height:0px;
}
#u12443_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12443_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12443_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12444 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:743px;
  width:0px;
  height:0px;
}
#u12444_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u12444_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:10px;
  height:8px;
}
#u12444_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:8px;
  height:38px;
}
#u12444_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:43px;
  width:10px;
  height:8px;
}
#u12444_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:8px;
  height:23px;
}
#u12444_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u12444_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12445 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:765px;
  width:15px;
  height:17px;
}
#u12445_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12446 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:629px;
  width:25px;
  height:17px;
}
#u12446_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u12447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:265px;
}
#u12447 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:193px;
  width:179px;
  height:264px;
  text-align:left;
}
#u12447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:175px;
  word-wrap:break-word;
}
#u12448 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:150px;
  width:0px;
  height:0px;
}
#u12448_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u12448_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u12448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12449 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:470px;
  width:0px;
  height:0px;
}
#u12449_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u12449_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:377px;
}
#u12449_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:365px;
  width:23px;
  height:8px;
}
#u12449_seg3 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:360px;
  width:19px;
  height:18px;
}
#u12449_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12450 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:713px;
  width:0px;
  height:0px;
}
#u12450_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u12450_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:134px;
}
#u12450_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:122px;
  width:17px;
  height:8px;
}
#u12450_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:117px;
  width:19px;
  height:18px;
}
#u12450_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
