body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12527 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:90px;
  width:118px;
  height:60px;
}
#u12527_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12528 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:198px;
  width:100px;
  height:60px;
}
#u12528_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12529 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:325px;
  width:100px;
  height:60px;
}
#u12529_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12530 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:440px;
  width:100px;
  height:60px;
}
#u12530_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12531 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:809px;
  width:118px;
  height:60px;
}
#u12531_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u12532 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:258px;
  width:0px;
  height:0px;
}
#u12532_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:71px;
}
#u12532_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:54px;
  width:18px;
  height:19px;
}
#u12532_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12533 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:385px;
  width:0px;
  height:0px;
}
#u12533_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12533_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12533_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12534 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:523px;
  width:15px;
  height:18px;
}
#u12534_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12535 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:765px;
  width:15px;
  height:18px;
}
#u12535_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12536 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:568px;
  width:100px;
  height:60px;
}
#u12536_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u12537 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:683px;
  width:100px;
  height:60px;
}
#u12537_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12538 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:500px;
  width:0px;
  height:0px;
}
#u12538_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:72px;
}
#u12538_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:55px;
  width:18px;
  height:19px;
}
#u12538_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:26px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12539 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:628px;
  width:0px;
  height:0px;
}
#u12539_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:59px;
}
#u12539_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:42px;
  width:18px;
  height:19px;
}
#u12539_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12540 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:743px;
  width:0px;
  height:0px;
}
#u12540_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:21px;
}
#u12540_seg1 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:10px;
  height:8px;
}
#u12540_seg2 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:13px;
  width:8px;
  height:38px;
}
#u12540_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:43px;
  width:10px;
  height:8px;
}
#u12540_seg4 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:43px;
  width:8px;
  height:23px;
}
#u12540_seg5 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:53px;
  width:18px;
  height:19px;
}
#u12540_text {
  border-width:0px;
  position:absolute;
  left:-52px;
  top:25px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12541_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12541 {
  border-width:0px;
  position:absolute;
  left:219px;
  top:765px;
  width:15px;
  height:18px;
}
#u12541_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u12542_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u12542 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:629px;
  width:25px;
  height:18px;
}
#u12542_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  word-wrap:break-word;
}
#u12543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:180px;
  height:265px;
}
#u12543 {
  border-width:0px;
  position:absolute;
  left:411px;
  top:193px;
  width:179px;
  height:264px;
  text-align:left;
}
#u12543_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:25px;
  width:175px;
  word-wrap:break-word;
}
#u12544 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:150px;
  width:0px;
  height:0px;
}
#u12544_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:52px;
}
#u12544_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:35px;
  width:18px;
  height:19px;
}
#u12544_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12545 {
  border-width:0px;
  position:absolute;
  left:252px;
  top:470px;
  width:0px;
  height:0px;
}
#u12545_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:32px;
  height:8px;
}
#u12545_seg1 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:-4px;
  width:8px;
  height:377px;
}
#u12545_seg2 {
  border-width:0px;
  position:absolute;
  left:9px;
  top:365px;
  width:23px;
  height:8px;
}
#u12545_seg3 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:360px;
  width:19px;
  height:18px;
}
#u12545_text {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:172px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12546 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:713px;
  width:0px;
  height:0px;
}
#u12546_seg0 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:26px;
  height:8px;
}
#u12546_seg1 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:-4px;
  width:8px;
  height:134px;
}
#u12546_seg2 {
  border-width:0px;
  position:absolute;
  left:-26px;
  top:122px;
  width:17px;
  height:8px;
}
#u12546_seg3 {
  border-width:0px;
  position:absolute;
  left:-22px;
  top:117px;
  width:19px;
  height:18px;
}
#u12546_text {
  border-width:0px;
  position:absolute;
  left:-72px;
  top:50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
