body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1571px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u28247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1554px;
  height:212px;
}
#u28247 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:0px;
  width:1554px;
  height:212px;
}
#u28247_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
