body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1167px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9393_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9393 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:134px;
  width:118px;
  height:60px;
}
#u9393_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u9394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9394 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:238px;
  width:100px;
  height:60px;
}
#u9394_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9395 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:369px;
  width:100px;
  height:60px;
}
#u9395_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9396 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:478px;
  width:100px;
  height:60px;
}
#u9396_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9397 {
  border-width:0px;
  position:absolute;
  left:254px;
  top:1036px;
  width:118px;
  height:60px;
}
#u9397_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u9398 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:298px;
  width:0px;
  height:0px;
}
#u9398_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:75px;
}
#u9398_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:19px;
}
#u9398_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9399 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:590px;
  width:100px;
  height:60px;
}
#u9399_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9400 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:700px;
  width:100px;
  height:60px;
}
#u9400_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9401 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:820px;
  width:100px;
  height:60px;
}
#u9401_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9402 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:929px;
  width:100px;
  height:60px;
}
#u9402_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9403 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:429px;
  width:0px;
  height:0px;
}
#u9403_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u9403_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:19px;
}
#u9403_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9404 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:538px;
  width:0px;
  height:0px;
}
#u9404_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:56px;
}
#u9404_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:39px;
  width:18px;
  height:19px;
}
#u9404_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9405 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:650px;
  width:0px;
  height:0px;
}
#u9405_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:54px;
}
#u9405_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:37px;
  width:18px;
  height:19px;
}
#u9405_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9406 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:760px;
  width:0px;
  height:0px;
}
#u9406_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:64px;
}
#u9406_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:47px;
  width:18px;
  height:19px;
}
#u9406_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:22px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9407 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:880px;
  width:0px;
  height:0px;
}
#u9407_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:53px;
}
#u9407_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:36px;
  width:18px;
  height:19px;
}
#u9407_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9408 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:989px;
  width:0px;
  height:0px;
}
#u9408_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9408_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u9408_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9409 {
  border-width:0px;
  position:absolute;
  left:263px;
  top:959px;
  width:0px;
  height:0px;
}
#u9409_seg0 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-4px;
  width:28px;
  height:8px;
}
#u9409_seg1 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-695px;
  width:8px;
  height:699px;
}
#u9409_seg2 {
  border-width:0px;
  position:absolute;
  left:-28px;
  top:-695px;
  width:28px;
  height:8px;
}
#u9409_seg3 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-700px;
  width:19px;
  height:18px;
}
#u9409_text {
  border-width:0px;
  position:absolute;
  left:-74px;
  top:-354px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9410 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:508px;
  width:0px;
  height:0px;
}
#u9410_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:40px;
  height:8px;
}
#u9410_seg1 {
  border-width:0px;
  position:absolute;
  left:32px;
  top:-244px;
  width:8px;
  height:248px;
}
#u9410_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-244px;
  width:40px;
  height:8px;
}
#u9410_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-249px;
  width:19px;
  height:18px;
}
#u9410_text {
  border-width:0px;
  position:absolute;
  left:-14px;
  top:-128px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9411 {
  border-width:0px;
  position:absolute;
  left:363px;
  top:730px;
  width:0px;
  height:0px;
}
#u9411_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:39px;
  height:8px;
}
#u9411_seg1 {
  border-width:0px;
  position:absolute;
  left:31px;
  top:-466px;
  width:8px;
  height:470px;
}
#u9411_seg2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-466px;
  width:39px;
  height:8px;
}
#u9411_seg3 {
  border-width:0px;
  position:absolute;
  left:-6px;
  top:-471px;
  width:19px;
  height:18px;
}
#u9411_text {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-239px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9412 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:456px;
  width:15px;
  height:17px;
}
#u9412_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u9413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9413 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:538px;
  width:15px;
  height:17px;
}
#u9413_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u9414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9414 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:776px;
  width:15px;
  height:17px;
}
#u9414_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u9415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9415 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:999px;
  width:15px;
  height:17px;
}
#u9415_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  white-space:nowrap;
}
#u9416 {
  border-width:0px;
  position:absolute;
  left:313px;
  top:194px;
  width:0px;
  height:0px;
}
#u9416_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u9416_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u9416_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9417 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:273px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u9417_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:222px;
  height:8px;
}
#u9417_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-13px;
  width:27px;
  height:26px;
}
#u9417_text {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9418 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:187px;
  width:100px;
  height:60px;
}
#u9418_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9419 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:289px;
  width:100px;
  height:60px;
}
#u9419_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9419_ann {
  border-width:0px;
  position:absolute;
  left:798px;
  top:285px;
  width:1px;
  height:1px;
}
#u9420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u9420 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1147px;
  width:269px;
  height:76px;
  text-align:left;
}
#u9420_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:265px;
  word-wrap:break-word;
}
#u9421 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:247px;
  width:0px;
  height:0px;
}
#u9421_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u9421_seg1 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:27px;
  width:20px;
  height:20px;
}
#u9421_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9422_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u9422 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1250px;
  width:269px;
  height:76px;
  text-align:left;
}
#u9422_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:265px;
  word-wrap:break-word;
}
#u9423_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:81px;
}
#u9423 {
  border-width:0px;
  position:absolute;
  left:179px;
  top:1349px;
  width:269px;
  height:80px;
  text-align:left;
}
#u9423_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:32px;
  width:265px;
  word-wrap:break-word;
}
#u9424_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:139px;
}
#u9424 {
  border-width:0px;
  position:absolute;
  left:172px;
  top:1638px;
  width:269px;
  height:138px;
  text-align:left;
}
#u9424_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:31px;
  width:265px;
  word-wrap:break-word;
}
#u9425_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:139px;
}
#u9425 {
  border-width:0px;
  position:absolute;
  left:186px;
  top:1490px;
  width:269px;
  height:138px;
  text-align:left;
}
#u9425_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:265px;
  word-wrap:break-word;
}
#u9426 {
  position:absolute;
  left:696px;
  top:520px;
  visibility:hidden;
}
#u9426_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:213px;
  height:257px;
  background-image:none;
}
#u9426_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9427 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:100px;
  height:60px;
}
#u9427_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9428 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9428_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9429 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:0px;
  height:0px;
}
#u9429_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u9429_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u9429_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9430 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:68px;
  height:25px;
}
#u9430_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u9431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9431 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:100px;
  height:60px;
}
#u9431_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9432 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:0px;
  height:0px;
}
#u9432_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u9432_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u9432_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9426_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:395px;
  height:257px;
  visibility:hidden;
  background-image:none;
}
#u9426_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9433 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:100px;
  height:60px;
}
#u9433_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u9434_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9435 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:60px;
  width:0px;
  height:0px;
}
#u9435_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u9435_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u9435_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9436 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:68px;
  height:25px;
}
#u9436_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:64px;
  word-wrap:break-word;
}
#u9437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u9437 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:35px;
  width:250px;
  height:94px;
  text-align:left;
}
#u9437_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9438 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:100px;
  height:60px;
}
#u9438_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9439 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:159px;
  width:0px;
  height:0px;
}
#u9439_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:42px;
}
#u9439_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:25px;
  width:18px;
  height:19px;
}
#u9439_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9426_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u9426_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9426_state3 {
  position:relative;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  visibility:hidden;
  background-image:none;
}
#u9426_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9426_state4 {
  position:relative;
  left:0px;
  top:0px;
  width:172px;
  height:278px;
  visibility:hidden;
  background-image:none;
}
#u9426_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u9440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9440 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:124px;
  width:100px;
  height:60px;
}
#u9440_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9441 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:218px;
  width:100px;
  height:60px;
}
#u9441_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:96px;
  word-wrap:break-word;
}
#u9442_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 102, 0, 1) 0%, rgba(255, 102, 0, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9442 {
  border-width:0px;
  position:absolute;
  left:72px;
  top:25px;
  width:100px;
  height:60px;
}
#u9442_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9443 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:85px;
  width:0px;
  height:0px;
}
#u9443_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u9443_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:19px;
}
#u9443_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u9443_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9444 {
  border-width:0px;
  position:absolute;
  left:122px;
  top:184px;
  width:0px;
  height:0px;
}
#u9444_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:38px;
}
#u9444_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-6px;
  width:18px;
  height:19px;
}
#u9444_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:21px;
  width:18px;
  height:19px;
}
#u9444_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:9px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9445 {
  border-width:0px;
  position:absolute;
  left:826px;
  top:219px;
  width:0px;
  height:0px;
  color:#FF6600;
}
#u9445_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:222px;
  height:8px;
}
#u9445_seg1 {
  border-width:0px;
  position:absolute;
  left:195px;
  top:-13px;
  width:27px;
  height:26px;
}
#u9445_text {
  border-width:0px;
  position:absolute;
  left:59px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9446_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9446 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:237px;
  width:100px;
  height:60px;
}
#u9446_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9447 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:138px;
  width:100px;
  height:60px;
}
#u9447_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9447_ann {
  border-width:0px;
  position:absolute;
  left:1151px;
  top:134px;
  width:1px;
  height:1px;
}
#u9448 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:198px;
  width:0px;
  height:0px;
}
#u9448_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u9448_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u9448_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9449 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:80px;
  width:118px;
  height:60px;
}
#u9449_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u9450 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:140px;
  width:0px;
  height:0px;
}
#u9450_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u9450_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u9450_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9451 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:396px;
  width:118px;
  height:60px;
}
#u9451_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u9452 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:349px;
  width:0px;
  height:0px;
}
#u9452_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9452_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u9452_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9453 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:29px;
  width:118px;
  height:60px;
}
#u9453_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u9454 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:89px;
  width:0px;
  height:0px;
}
#u9454_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u9454_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u9454_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  background:linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(242, 242, 242, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(255, 255, 255, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(38, 148, 235, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9455 {
  border-width:0px;
  position:absolute;
  left:1049px;
  top:552px;
  width:118px;
  height:60px;
}
#u9455_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:114px;
  word-wrap:break-word;
}
#u9456 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:505px;
  width:0px;
  height:0px;
}
#u9456_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u9456_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:34px;
  width:18px;
  height:19px;
}
#u9456_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9457_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9457 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:445px;
  width:100px;
  height:60px;
}
#u9457_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9458_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
  background:-webkit-linear-gradient(270deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:-moz-linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  background:linear-gradient(180deg, rgba(111, 190, 236, 1) 0%, rgba(111, 190, 236, 1) 0%, rgba(228, 228, 228, 1) 100%, rgba(228, 228, 228, 1) 100%);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 153, 255, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9458 {
  border-width:0px;
  position:absolute;
  left:1058px;
  top:346px;
  width:100px;
  height:60px;
}
#u9458_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u9459 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:406px;
  width:0px;
  height:0px;
}
#u9459_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:43px;
}
#u9459_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:26px;
  width:18px;
  height:19px;
}
#u9459_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9460 {
  border-width:0px;
  position:absolute;
  left:1108px;
  top:297px;
  width:0px;
  height:0px;
}
#u9460_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:48px;
}
#u9460_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:31px;
  width:18px;
  height:19px;
}
#u9460_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:14px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9461_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:331px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9461 {
  border-width:0px;
  position:absolute;
  left:382px;
  top:842px;
  width:331px;
  height:17px;
}
#u9461_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  white-space:nowrap;
}
